<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
    </div>
    <!-- End Section Title -->

    <div class="mb-5">
        <iframe style="border:0; width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus"
            frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- End Google Maps -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4">
                @for(info of contactInfo ;track contactInfo){
                <div class="info-item d-flex">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h3>Location</h3>
                        <p>{{info.location}}</p>
                    </div>
                </div>
                <!-- End Info Item -->

                <div class="info-item d-flex">
                    <i class="bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Open Hours</h3>
                        <p>{{info.openHours}}</p>
                    </div>
                </div>
                <!-- End Info Item -->

                <div class="info-item d-flex">
                    <i class="bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Call Us</h3>
                        <p>{{info.callUs}}</p>
                    </div>
                </div>
                <!-- End Info Item -->

                <div class="info-item d-flex">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h3>Email Us</h3>
                        <p>{{info.emailUs}}</p>
                    </div>
                </div>
                <!-- End Info Item -->
                }
            </div>

            <div class="col-lg-8">
                <form class="php-email-form" [formGroup]="form" (ngSubmit)="sendMessage()">
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Your Name" formControlName="name">
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" class="form-control" name="email" placeholder="Your Email" formControlName="email">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" formControlName="subject">
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="message" rows="6" placeholder="Message" formControlName="message"></textarea>
                        </div>
                        <button type="submit" [disabled]="form.invalid">Send Message</button> @if (isbooked) {
                        <div class="alert alert-warning" role="alert"> <b> Your message request was sent. We will call back or send an Email . Thank you!</b> </div>
                        }

                    </div>
                </form>
            </div>
            <!-- End Contact Form -->