        /*--------------------------------------------------------------
# Book A Table Section
--------------------------------------------------------------*/
        /*
    .section-title {
        color: var(--default-color);
        background-color: var(--background-color);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 160px 0 80px 0;
        text-align: center;
        position: relative;
    }

    .section-title:before {
        content: "";
        background-color: color-mix(in srgb, var(--background-color), transparent 30%);
        position: absolute;
        inset: 0;
    }

    .section-title h1 {
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 10px;
    } */
        
        .book-a-table {
            min-height: 500px;
            margin-top: 100px;
            background-size: cover;
            background-position: center;
        }
        
        .book-a-table .reservation-form-bg {
            background: color-mix(in srgb, var( --background-color), transparent 97%);
        }
        
        .book-a-table .php-email-form {
            padding: 30px;
        }
        
        @media (max-width: 575px) {
            .book-a-table .php-email-form {
                padding: 20px;
            }
        }
        
        .book-a-table .php-email-form input[type=text],
        .book-a-table .php-email-form input[type=email],
        .book-a-table .php-email-form input[type=number],
        .book-a-table .php-email-form input[type=date],
        .book-a-table .php-email-form input[type=time],
        .book-a-table .php-email-form textarea {
            font-size: 14px;
            padding: 10px 15px;
            box-shadow: none;
            border-radius: 0;
            color: #cda45e;
            background-color: color-mix(in srgb, var( --background-color), transparent 20%);
            border-color: color-mix(in srgb, #cda45e, transparent 80%);
        }
        
        .book-a-table .php-email-form input[type=text]:focus,
        .book-a-table .php-email-form input[type=email]:focus,
        .book-a-table .php-email-form input[type=number]:focus,
        .book-a-table .php-email-form input[type=date]:focus,
        .book-a-table .php-email-form input[type=time]:focus,
        .book-a-table .php-email-form textarea:focus {
            border-color: #cda45e;
        }
        
        .book-a-table .php-email-form input[type=text]::placeholder,
        .book-a-table .php-email-form input[type=email]::placeholder,
        .book-a-table .php-email-form input[type=number]::placeholder,
        .book-a-table .php-email-form input[type=date]::placeholder,
        .book-a-table .php-email-form input[type=time]::placeholder,
        .book-a-table .php-email-form textarea::placeholder {
            color: #8a8884;
        }
        
        .book-a-table .php-email-form button[type=submit] {
            color: #0c0901;
            border: 2px solid #120c01;
            background: transparent;
            padding: 14px 60px;
            transition: 0.4s;
            border-radius: 50px;
            margin: 20px auto;
        }
        
        .book-a-table .php-email-form button[type=submit]:hover {
            background: black;
            color: #deb164;
            border: 2px solid #0a0600;
        }
        
        .confirmBooking {
            background-color: #bda475;
            padding: 20px;
            color: black;
            width: 70%;
            margin: 0px auto;
            border-radius: 30px;
            opacity: .9;
        }
        
        .confirmBooking h3 {
            margin-top: 10px;
            color: black
        }
        
        .confirmBooking span {
            /* color: ; */
        }