<!-- About Section -->
<section id="about" class="about section">

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="../../../assets/img/about.jpg" class="img-fluid about-img" alt="">
            </div>
            <div class="col-lg-6 order-2 order-lg-1 content">
                <h3> Restaurantly</h3>
                <p class="fst-italic">
                    Welcome to Restaurantly, where culinary artistry meets heartfelt hospitality. our restaurant is a celebration of flavors, culture, and community. At Restaurantly, we believe that dining is more than just a meal—it's an experience that brings people together,
                    creates memories, and delights the senses. </p>
                <ul>
                    <li><i class="bi bi-check2-all"></i> <span>Our menu is a tribute to the rich and diverse flavors .</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Our chefs are passionate about their craft and are constantly exploring new techniques and flavors to bring you innovative and exciting dishes.</span></li>
                </ul>
                <p>
                    Our Story Restaurantly was born out of a passion for food and a love for sharing that passion with others. a culinary enthusiast with a dream to create a space where food lovers could savor exceptional dishes in a warm, inviting atmosphere. Our journey
                    began with a simple idea: to serve authentic, delicious cuisine made from the freshest ingredients, and prepared with love. </p>
            </div>
        </div>

    </div>

</section>
<!-- /About Section -->
<!-- Why Us Section -->
<section id="why-us" class="why-us section">

    <!-- Section Title -->
    <div class="container section-title">
        <h2>WHY US</h2>
        <p>Why Choose Our Restaurant</p>
    </div>
    <!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4">
                <div class="card-item">
                    <span>01</span>
                    <h4><a href="" class="stretched-link">Farm-to-Table Freshness</a></h4>
                    <p>We source our ingredients directly from local farms, ensuring that every dish is as fresh, nutritious, and flavorful as possible.</p>
                </div>
            </div>
            <!-- Card Item -->

            <div class="col-lg-4">
                <div class="card-item">
                    <span>02</span>
                    <h4><a href="" class="stretched-link">Innovative Cuisine</a></h4>
                    <p>Our chefs blend traditional recipes with modern culinary techniques, offering a unique dining experience that delights both the eyes and the palate.</p>
                </div>
            </div>
            <!-- Card Item -->

            <div class="col-lg-4">
                <div class="card-item">
                    <span>03</span>
                    <h4><a href="" class="stretched-link">Exceptional Service</a></h4>
                    <p>From the moment you walk through our doors, our friendly staff is dedicated to providing you with a seamless and enjoyable dining experience.</p>
                </div>
            </div>
            <!-- Card Item -->

        </div>

    </div>

</section>
<!-- /Why Us Section -->
