<!-- Hero Section -->
<section id="hero" class="hero section dark-background">
    <img src="../../../assets/img/hero-bg.jpg" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-flex flex-column align-items-center align-items-lg-start">
                <h2>Welcome to <span>Restaurantly</span></h2>
                <p>Delivering great food for more than 18 years!</p>
                <div class="d-flex mt-4">
                    <a routerLink="/menu" class="cta-btn">Our Menu</a>
                    <a routerLink="/book-table" class="cta-btn">Book a Table</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Hero Section -->
