<!-- Gallery Section -->
<section id="gallery" class="gallery section">

    <!-- Section Title -->
    <div class="container section-title">
        <h2>Gallery</h2>
        <p>Some photos from Our Restaurant</p>
    </div>
    <!-- End Section Title -->

    <div class="container-fluid">

        <div class="row g-0">
            @for(img of gallary ; track gallary){
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a [href]=img.img class="glightbox">
                        <img [src]=img.img alt="" class="img-fluid">
                    </a>
                </div>
            </div>}
            <!-- End Gallery Item -->


        </div>

    </div>

</section>
<!-- /Gallery Section -->
