<nav id="header" class="header fixed-top">

    <div class="branding d-flex align-items-cente">

        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">

                <h1 class="sitename">Restaurantly</h1>
            </a>

            <nav id="navmenu" class="navmenu ms-5 ">
                <ul>
                    <li><a routerLink="/home">Home<br></a></li>
                    <li> <a routerLink="/about">About</a></li>
                    <li><a routerLink="/menu">Menu</a></li>
                    <li><a routerLink="/chefs">Chefs</a></li>
                    <li> <a routerLink="/gallary">Gallery</a> </li>
                    <li> <a routerLink="/contact">Contact</a> </li>
                </ul>
                <i class="mobile-nav-toggle  d-xl-none bi bi-list"></i>
            </nav>
            <a class="btn-book-a-table d-none d-xl-block " routerLink="/book-table">Book a Table</a>

        </div>

    </div>

</nav>